* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Common Button*/
button {
    background-color: #3730f2;
    color: #fff;
    border: none;
    padding: 12px 22px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}


.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: auto;
    padding: 15px 40px;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo_icon {
    background-color: #0a0c21;
    color: #2f1cbe;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.logo h3 {
    font-size: 14px;
    letter-spacing: 0.5px;
}

/* Nav links */
.Navbar ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.Navbar ul li a {
    text-decoration: none;
    color: #14162b;
    font-size: 15px;
}

